html{
    background-color: rgb(46, 12, 1) ;
    font-family: inherit;
}
img{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: inherit;
    width: 6cm;
    height: 5cm;
}
hr{
    color: rgba(247, 165, 12,0.932);
}
.title{
    margin-top: 1cm;
    padding-top: 1.5cm;
    font-size: 2cm;
    color: white;
    font-family: cursive;
    font-style: italic;
}
.subtitle{
    font-family: cursive;
    color: rgba(247, 165, 12, 0.932);
    font-size: 1cm;
    margin-left: 20cm;
    padding-top: -1cm;
    margin-top: -1cm;
}
a{
    margin: 35px;
    padding: 15px;
    color: white;
    border-style: double;
    border-width: 5px;
    border-radius: 25px;
    text-decoration: blink;
    font-family: cursive;
    background-color: rgba(221, 129, 8, 0.959);

}
nav{
    margin: 15px;
    padding: 15px;

}
video{
    margin-top: 1cm;
    border: rgba(221, 129, 8, 0.959) double;
    border-width: 10px;
    border-radius: 25px;
    margin-left: 1cm;
    width: 10cm;
    height: 10cm;
}
h2{
    text-align: center;
    margin: 35px;
    padding: 35px;
    color: white;
    height: 3.5cm;
    width: 30cm ;
    border-style: double;
    border-width: 25Spx;
    border-radius: 25px;
    text-decoration: blink;
    font-family: cursive;
    background-color: rgba(221, 129, 8, 0.959);
}
.content{
    padding: 15px;
    margin: 15PX;
    margin-left: 15px;
    margin-right: 15px;
}
.MC{
    margin-left: 5px;
    
    
    border-width: 4px;
    box-shadow: 10px 10px rgb(46, 12, 1);
}
.foot{
    background-color:rgba(221, 129, 8, 0.959) ;
    color: white;
    border-top-style: double;
}
.footer{
    margin-left: 15px;
    padding-left: 15px;
    size: 30px;
    border-radius: 115px;
}